<div class="component">
  <p style="text-align:center; color: whitesmoke">Audit Trail</p>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)">
    <mat-placeholder style="color:whitesmoke; opacity:0.5">Search for Order</mat-placeholder>
  </mat-form-field>
  <div class="mat-elevation-z8 pane">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let order"> {{order.orderId}} </td>
      </ng-container>

      <ng-container matColumnDef="isbuy">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td *matCellDef="let order" style="font-size:14px">
          <p *ngIf="order.buy == true" >Long</p>
          <p *ngIf="order.buy != true" >Short</p>
        </td>        
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let order"> ${{order.price | number}} </td>
      </ng-container>

      <ng-container matColumnDef="initialSize">
        <th mat-header-cell *matHeaderCellDef>Initial</th>
        <td mat-cell *matCellDef="let order"> {{order.initial_size | number}} </td>
      </ng-container>

      <ng-container matColumnDef="approvedSize">
        <th mat-header-cell *matHeaderCellDef>Approved</th>
        <td mat-cell *matCellDef="let order"> {{order.approved_size| number }} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let order"> {{order.total | number}} </td>
      </ng-container>

      <ng-container matColumnDef="orderTime">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let order"> {{order.order_time | date: 'long' }} </td>
      </ng-container>

      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef>Stock Code</th>
        <td mat-cell *matCellDef="let order"> {{order.stock.stockCode}} </td>
      </ng-container>

      <ng-container matColumnDef="strategyId">
        <th mat-header-cell *matHeaderCellDef>Strategy</th>
        <td mat-cell *matCellDef="let order"> {{order.strategyId}} </td>
      </ng-container>

      <ng-container matColumnDef="orderStatus">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let order"> {{order.orderStatus.statusDescription}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>