.component{
    background-color:#3E3D32;
    width:100%;
}

/* TO FIX HEIGHT AND MAKE TABLE SCROLLY SCROLL
.pane {
    overflow-y: scroll;
    max-height:20%;
} */
table {
    text-align: center;
    margin: auto;
} 
p {
    margin: 0px 0px 0px;
}

button{
    padding: 3px 6px;
}

.mat-table{
    color:white;
    width: 100%;
    background-color: #3E3D32; /* COLOR OF TABLE */
}

.mat-header-cell{
   text-align:center;
   font-size: 16px;
   font-weight: bold;
   color: whitesmoke;
}

.mat-cell{
    color: whitesmoke;
}

.mat-paginator{
    background-color:#3E3D32;
    color: whitesmoke;
}

.mat-paginator md-select:not([disabled]):focus .md-select-value {
    color:white;
   }

.mat-form-field{
    width:100%;
    text-align: center;
}
::ng-deep .mat-select-arrow {
    color: whitesmoke; /* changes color of arrow on mat-pagination */
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: whitesmoke; /* changes color of underline in ALL on mat-pagination */
}

.mat-placeholder{
    color:whitesmoke; /* DOESNT WORK IDK WHY  */
}

.mat-form-field{
    color: whitesmoke;
    opacity: 0.5; /* text entered into the form field  */
}

::ng-deep .mat-select-value {
    color: whitesmoke; /* number in paginator  */
}

td.mat-cell{
    border-bottom: 1px solid grey;
}

th.mat-header-cell{
    border-bottom: 2px solid grey;
}

button{
    font-size:14px;
}