<div class="unselected-field" style="display: inline-block;padding-left: 10%">
<label style="color:whitesmoke">Choose Stock:</label>
<div ng-controller="MyCtrl">
    <select  [(ngModel)]="selectedOption" (change)="selectedItemChanged()" >
      <option *ngFor=" let item of stocks" value="{{item}}" style="background: '#121212'">{{item}}</option>
    </select>
  </div>
</div>
<div #charts style="background-color: '#121212'"></div>
