<div class="modal-header">
    <h4 class="modal-title">Trading for {{ stock.stockCode }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-check form-check-inline">
          <input (change)="onSelectionChange('Moving Average')" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1"> Moving Average</label>
      </div>
        <div class="form-check form-check-inline">
          <input (change)="onSelectionChange('Price Breakout')" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Price Breakout</label>
      </div>
      <div class="form-check form-check-inline">
        <input (change)="onSelectionChange('Bollinger Bands')" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">Bollinger Bands</label>
    </div>

      

      <div *ngIf="chosenStrategy=='Moving Average'">
        <div class="dropdown-divider"></div>
          
      <div class="row">
         
          <div class="col">
            <label for="shortAverage">Short Average (seconds)</label>
            <input type="number" [(ngModel)]="shortAverage" min="1" class="form-control" placeholder="Short Average">
          </div>
          <div class="col">
              <label for="longAverage">Long Average (seconds)</label>
            <input type="number" [(ngModel)]="longAverage" min="1" class="form-control" placeholder="Long Average">
          </div>
          
        </div>
        <div class="alert alert-danger" *ngIf="shortAverage > longAverage" >
            Short Average duration is longer than long average duration
       </div>

        <div class="row">
            <div class="col">
                <label for="stockToTrade">Amount of stocks to trade</label>
                <input class="form-control" min="100" [(ngModel)]="stockAmount" type="number" placeholder="Number of Stocks">        
            </div>
            <div class="col">
                <label for="stockLimit">Maximum number stocks</label>
                <input class="form-control" min="1000" [(ngModel)]="stockLimit" type="number" placeholder="Number of Stocks">        
            </div>
        </div>

        <div class="alert alert-danger" *ngIf="stockAmount > stockLimit" >
             Amount of stocks to be traded exceeds the limit
        </div>

        <label for="crossOverTime">Crossover Time (seconds)</label>
        <input class="form-control" [(ngModel)]="crossoverTime" min="0" type="number" placeholder="Crossover Time (seconds)">
        
      </div> 
    
    <div *ngIf="chosenStrategy=='Price Breakout'"> 
      <div class="dropdown-divider"></div>
      <label for="periodTime">Period Time (seconds)</label>
      <input class="form-control" min="2" [(ngModel)]="periodTime" type="number" placeholder="Period Time (seconds)">
      <div class="alert alert-danger" *ngIf="periodTime < 2" >
          Period Time must be at least 2 seconds
     </div>
      <label for="breakoutNumber">Number of Breaks</label>
      <input class="form-control" min="1" [(ngModel)]="breakoutNumber" type="number" placeholder="Breakout Number">
      
      <div class="row">
          <div class="col">
              <label for="stockToTrade">Amount of stocks to trade</label>
              <input class="form-control" min="100" [(ngModel)]="stockAmount" type="number" placeholder="Number of Stocks">        
          </div>
          <div class="col">
              <label for="stockLimit">Maximum number stocks</label>
              <input class="form-control" min="1000" [(ngModel)]="stockLimit" type="number" placeholder="Number of Stocks">        
          </div>
      </div>
        
      <div class="alert alert-danger" *ngIf="stockAmount > stockLimit" >
           Amount of stocks to be traded exceeds the limit
      </div>
    </div>

    <div *ngIf="chosenStrategy=='Bollinger Bands'"> 
      <div class="dropdown-divider"></div>
      <label for="averagePeriod">Average Period (seconds)</label>
      <input class="form-control" min="2" [(ngModel)]="averagePeriod" type="number" placeholder="Average Period (seconds)">
      
      <label for="multipleOfSd">Multiple of Standard Deviation</label>
      <input class="form-control" min="1" [(ngModel)]="multipleOfSd" type="number" placeholder="Multiple of Standard Deviation">
      
      <div class="row">
          <div class="col">
              <label for="stockToTrade">Amount of stocks to trade</label>
              <input class="form-control" min="100" [(ngModel)]="stockAmount" type="number" placeholder="Number of Stocks">        
          </div>
          <div class="col">
              <label for="stockLimit">Maximum number stocks</label>
              <input class="form-control" min="1000" [(ngModel)]="stockLimit" type="number" placeholder="Number of Stocks">        
          </div>
      </div>
        
      <div class="alert alert-danger" *ngIf="stockAmount > stockLimit" >
           Amount of stocks to be traded exceeds the limit
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="invalidInput()" (click)="activeModal.close('Close click'); onSubmit()">Submit Order</button>
  </div>
